.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__nhNrF {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token--w1M2oILMROaWg);
  display: flex;
  min-width: 0;
}
.freeBox__nhNrF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__nhNrF > :global(.__wab_flex-container) > *,
.freeBox__nhNrF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nhNrF > :global(.__wab_flex-container) > picture > img,
.freeBox__nhNrF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__z1S1G {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__z1S1G > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__z1S1G > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__z1S1G > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__z1S1G > :global(.__wab_flex-container) > *,
.columns__z1S1G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__z1S1G > :global(.__wab_flex-container) > picture > img,
.columns__z1S1G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__z1S1G {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__z1S1G > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__z1S1G > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__z1S1G > :global(.__wab_flex-container) > *,
  .columns__z1S1G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__z1S1G > :global(.__wab_flex-container) > picture > img,
  .columns__z1S1G
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__wpow8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wpow8 {
    width: 100%;
  }
}
.freeBox__v4S8V {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__v4S8V > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__v4S8V > :global(.__wab_flex-container) > *,
.freeBox__v4S8V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v4S8V > :global(.__wab_flex-container) > picture > img,
.freeBox__v4S8V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v4S8V {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v4S8V > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__fhkfZ {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__hHt3K {
  position: relative;
  text-align: left;
}
.bullet__sxIir:global(.__wab_instance) {
  position: relative;
}
.bullet__rKwn:global(.__wab_instance) {
  position: relative;
}
.bullet__xAmrN:global(.__wab_instance) {
  position: relative;
}
.text__vwKte {
  position: relative;
  text-align: left;
}
.freeBox__jzceB {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__jzceB > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__jzceB > :global(.__wab_flex-container) > *,
.freeBox__jzceB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jzceB > :global(.__wab_flex-container) > picture > img,
.freeBox__jzceB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jzceB {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jzceB > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jzceB > :global(.__wab_flex-container) > *,
  .freeBox__jzceB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jzceB > :global(.__wab_flex-container) > picture > img,
  .freeBox__jzceB
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__jnz7:global(.__wab_instance) {
  position: relative;
}
.svg__axNo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__p3Yhw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__cHuNf:global(.__wab_instance) {
  position: relative;
}
.svg__oRmUv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__g9JnK {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column___2FOb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___2FOb {
    width: 100%;
  }
}
.img___2EcWy {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___2EcWy > picture > img {
  object-fit: cover;
}
.img___2EcWy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns___5UMHu {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns___5UMHu > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns___5UMHu > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___5UMHu > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___5UMHu > :global(.__wab_flex-container) > *,
.columns___5UMHu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___5UMHu > :global(.__wab_flex-container) > picture > img,
.columns___5UMHu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5UMHu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5UMHu > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5UMHu > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5UMHu > :global(.__wab_flex-container) > *,
  .columns___5UMHu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___5UMHu > :global(.__wab_flex-container) > picture > img,
  .columns___5UMHu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__zUNmo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zUNmo {
    width: 100%;
  }
}
.img__cnbfc {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__cnbfc > picture > img {
  object-fit: cover;
}
.img__cnbfc > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__bwBt0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__bwBt0 {
    width: 100%;
  }
}
.freeBox__pWfpW {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__pWfpW > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__pWfpW > :global(.__wab_flex-container) > *,
.freeBox__pWfpW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pWfpW > :global(.__wab_flex-container) > picture > img,
.freeBox__pWfpW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pWfpW {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pWfpW > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__tZb4T {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__lKvt5 {
  position: relative;
  text-align: left;
}
.bullet__a2Yps:global(.__wab_instance) {
  position: relative;
}
.bullet__e1Mji:global(.__wab_instance) {
  position: relative;
}
.bullet___3KzYy:global(.__wab_instance) {
  position: relative;
}
.text__gbxtd {
  position: relative;
  text-align: left;
}
.freeBox__rt0Ld {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__rt0Ld > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__rt0Ld > :global(.__wab_flex-container) > *,
.freeBox__rt0Ld > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rt0Ld > :global(.__wab_flex-container) > picture > img,
.freeBox__rt0Ld
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rt0Ld {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rt0Ld > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rt0Ld > :global(.__wab_flex-container) > *,
  .freeBox__rt0Ld > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rt0Ld > :global(.__wab_flex-container) > picture > img,
  .freeBox__rt0Ld
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button___203C:global(.__wab_instance) {
  position: relative;
}
.svg__d66Ac {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__s4ZE5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__daI1H:global(.__wab_instance) {
  position: relative;
}
.svg___1Gd3G {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__tQcK {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
