.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__kYaQb {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token--w1M2oILMROaWg);
  display: flex;
  position: relative;
  min-width: 0;
}
.freeBox__kYaQb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__kYaQb > :global(.__wab_flex-container) > *,
.freeBox__kYaQb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kYaQb > :global(.__wab_flex-container) > picture > img,
.freeBox__kYaQb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kYaQb {
    width: 100%;
    height: auto;
    max-width: var(--token--w1M2oILMROaWg);
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kYaQb > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kYaQb > :global(.__wab_flex-container) > *,
  .freeBox__kYaQb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kYaQb > :global(.__wab_flex-container) > picture > img,
  .freeBox__kYaQb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__eNqVo {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__eNqVo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__eNqVo > :global(.__wab_flex-container) > *,
.freeBox__eNqVo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eNqVo > :global(.__wab_flex-container) > picture > img,
.freeBox__eNqVo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eNqVo {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eNqVo > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eNqVo > :global(.__wab_flex-container) > *,
  .freeBox__eNqVo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eNqVo > :global(.__wab_flex-container) > picture > img,
  .freeBox__eNqVo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__erjui {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__tz1JU {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-NEon4Y--Z);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tz1JU {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-NEon4Y--Z);
  }
}
.text__cubc6 {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cubc6 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text___0Q7Z {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___0Q7Z {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox__dKj7Q {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__dKj7Q > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__dKj7Q > :global(.__wab_flex-container) > *,
.freeBox__dKj7Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dKj7Q > :global(.__wab_flex-container) > picture > img,
.freeBox__dKj7Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button___76J6U:global(.__wab_instance) {
  position: relative;
}
.svg__xtBhn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__bfUdq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__xpD6G:global(.__wab_instance) {
  position: relative;
}
.svg__kc6Nw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__mhA4P {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__btH0E {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img___2Ktf5 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___2Ktf5 > picture > img {
  object-fit: cover;
}
.img___2Ktf5 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.column__vChsN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__vChsN {
    width: 100%;
  }
}
.freeBox__lzdD2 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__lzdD2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__lzdD2 > :global(.__wab_flex-container) > *,
.freeBox__lzdD2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lzdD2 > :global(.__wab_flex-container) > picture > img,
.freeBox__lzdD2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lzdD2 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lzdD2 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__wDo2R {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
}
.text__kWspR {
  position: relative;
  color: var(--token-jBhCqxBbh1U);
}
.featureCard___4KLvG:global(.__wab_instance) {
  position: relative;
}
.svg__rhAf {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg___8Epw {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__obUaG:global(.__wab_instance) {
  position: relative;
}
.svg__wzRkt {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__em32J {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__f22Cf:global(.__wab_instance) {
  position: relative;
}
.svg__jUlu {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg___6PlEo {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__gDd2W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__gDd2W {
    width: 100%;
  }
}
.img__yB7L0 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__yB7L0 > picture > img {
  object-fit: cover;
}
.img__yB7L0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.freeBox__dr4ZF {
  flex-direction: row;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__dr4ZF > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__dr4ZF > :global(.__wab_flex-container) > *,
.freeBox__dr4ZF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dr4ZF > :global(.__wab_flex-container) > picture > img,
.freeBox__dr4ZF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__gz7:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__gByq2 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-3GI5lIR4EdZraQ);
}
.svg__kPhuK {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___6W0Wx:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__y8Ucf {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-3GI5lIR4EdZraQ);
}
.svg__kMpdg {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__q6T1:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__essrS {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-3GI5lIR4EdZraQ);
}
.svg__hHPu {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___7VCq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__suEy2 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-3GI5lIR4EdZraQ);
}
.svg__npCx6 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__rqs7F:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__l4PAv {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-3GI5lIR4EdZraQ);
}
.svg___2ZHzC {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__d2WSn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__uFaki {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-3GI5lIR4EdZraQ);
}
.svg__pTbbm {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__kjDg {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid var(--token-iJmISJ9x8eeTb4);
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox__p6Rbd {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__p6Rbd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__p6Rbd > :global(.__wab_flex-container) > *,
.freeBox__p6Rbd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p6Rbd > :global(.__wab_flex-container) > picture > img,
.freeBox__p6Rbd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__pkDkj {
  flex-direction: row;
  display: flex;
}
.freeBox__pkDkj > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__pkDkj > :global(.__wab_flex-container) > *,
.freeBox__pkDkj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pkDkj > :global(.__wab_flex-container) > picture > img,
.freeBox__pkDkj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__wYtaj {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__cAC {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__lO5HX {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__pzf11 {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__ataw6 {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
